.wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
}

.searchBox {
    border: 1px solid #ccc;
    outline: none;
    padding: 6px 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.result {
    padding: 8px;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.resultImage {
    height: 200px;
}

.resultImage img {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
    max-height: 200px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .result {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 996px) {
    .result {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 1280px) {
    .result {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.resultInfo {
    margin-top: 10px;
}